table{
	border-collapse:collapse;
}
td{
	background-color: #0047ba;
	border: 4px solid #FFC82D;
	font-size: 100px;
	color: #FFC82D;
}
td:hover{
	background-color: #E8000D;
    	cursor:pointer;
}
