table{
	border-collapse:collapse;
}
td{
	background-color: #0047ba;
	border: 3px solid #FFC82D;
	font-size: 100px;
	color: black;
	border-radius: 0px;
}
td:hover{
	background-color: #E8000D;
    cursor:pointer;
}
